.UsersList {
    border: 1px solid #ccc;
    display: flex;
    height: 100px;

    .ImageClass {
        img {
            height: auto;
            width: 100px;
        }
    }

    .DataClass {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        .UserName {
            font-size: 20px;
            padding: 1rem 0;
        }
    }
}
